# coding: utf-8

"""
    Decision Lens API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from dlxapi.api_client import ApiClient


class ApprovalsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_approval(self, body, **kwargs):  # noqa: E501
        """Creates a new Approval in a portfolio.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_approval(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Approval body: Approval to create. isActive defaults to false. (required)
        :return: Approval
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_approval_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_approval_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_approval_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new Approval in a portfolio.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_approval_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Approval body: Approval to create. isActive defaults to false. (required)
        :return: Approval
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_approval" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_approval`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Approval',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_approval(self, id, **kwargs):  # noqa: E501
        """Deletes an Approval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_approval(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Approval id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_approval_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_approval_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_approval_with_http_info(self, id, **kwargs):  # noqa: E501
        """Deletes an Approval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_approval_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Approval id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_approval" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_approval`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def export_approval(self, id, **kwargs):  # noqa: E501
        """Exports an Approval workflow, as a spreadsheet or as a print-ready PDF packet.  # noqa: E501

        Returns every project change queued in the workflow — Pending, Approved, Rejected and Moved. XLSX returns the Workflow Report, a row per change. PDF returns the Change Approval Packet: a cover carrying the disposition tally, a contents page, the change register, then one section per project with its changes, approvals history, details and costs.  Portfolio owners and group admins may export at any time; the workflow's assigned approvers once it is open for approving.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_approval(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Approval id (required)
        :param ExportFormatType format: The document to produce. XLSX is the Workflow Report; PDF is the Change Approval Packet. Defaults to XLSX.
        :param str time_zone: IANA time zone id (e.g. America/New_York) the submitted/action timestamps are rendered in, so the export reads in the same local time the app shows. Defaults to UTC when omitted or unrecognized.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.export_approval_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.export_approval_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def export_approval_with_http_info(self, id, **kwargs):  # noqa: E501
        """Exports an Approval workflow, as a spreadsheet or as a print-ready PDF packet.  # noqa: E501

        Returns every project change queued in the workflow — Pending, Approved, Rejected and Moved. XLSX returns the Workflow Report, a row per change. PDF returns the Change Approval Packet: a cover carrying the disposition tally, a contents page, the change register, then one section per project with its changes, approvals history, details and costs.  Portfolio owners and group admins may export at any time; the workflow's assigned approvers once it is open for approving.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_approval_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Approval id (required)
        :param ExportFormatType format: The document to produce. XLSX is the Workflow Report; PDF is the Change Approval Packet. Defaults to XLSX.
        :param str time_zone: IANA time zone id (e.g. America/New_York) the submitted/action timestamps are rendered in, so the export reads in the same local time the app shows. Defaults to UTC when omitted or unrecognized.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'format', 'time_zone']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method export_approval" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `export_approval`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501
        if 'time_zone' in params:
            query_params.append(('timeZone', params['time_zone']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/pdf', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals/{id}/export', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_approval(self, id, **kwargs):  # noqa: E501
        """Retrieves an Approval by id.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_approval(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Approval id (required)
        :return: Approval
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_approval_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_approval_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_approval_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves an Approval by id.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_approval_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Approval id (required)
        :return: Approval
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_approval" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_approval`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Approval',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_approvals_for_portfolio(self, portfolio_id, **kwargs):  # noqa: E501
        """Retrieves Approvals for a portfolio, ordered by position.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_approvals_for_portfolio(portfolio_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio id (required)
        :return: Approvals
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_approvals_for_portfolio_with_http_info(portfolio_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_approvals_for_portfolio_with_http_info(portfolio_id, **kwargs)  # noqa: E501
            return data

    def get_approvals_for_portfolio_with_http_info(self, portfolio_id, **kwargs):  # noqa: E501
        """Retrieves Approvals for a portfolio, ordered by position.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_approvals_for_portfolio_with_http_info(portfolio_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio id (required)
        :return: Approvals
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['portfolio_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_approvals_for_portfolio" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'portfolio_id' is set
        if ('portfolio_id' not in params or
                params['portfolio_id'] is None):
            raise ValueError("Missing the required parameter `portfolio_id` when calling `get_approvals_for_portfolio`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'portfolio_id' in params:
            query_params.append(('portfolioId', params['portfolio_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Approvals',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_project_changes_for_approval(self, id, **kwargs):  # noqa: E501
        """Retrieves all ProjectChanges for an Approval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_project_changes_for_approval(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Approval id (required)
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_project_changes_for_approval_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_project_changes_for_approval_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_project_changes_for_approval_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves all ProjectChanges for an Approval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_project_changes_for_approval_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Approval id (required)
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_project_changes_for_approval" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_project_changes_for_approval`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals/{id}/projectChanges', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProjectChanges',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_project_changes_for_portfolio(self, portfolio_id, **kwargs):  # noqa: E501
        """Retrieves all ProjectChanges for a portfolio.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_project_changes_for_portfolio(portfolio_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio id (required)
        :param ProjectChangeStatus status: Filter by status (PENDING, APPROVED, REJECTED). Returns all statuses when omitted.
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_project_changes_for_portfolio_with_http_info(portfolio_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_project_changes_for_portfolio_with_http_info(portfolio_id, **kwargs)  # noqa: E501
            return data

    def get_project_changes_for_portfolio_with_http_info(self, portfolio_id, **kwargs):  # noqa: E501
        """Retrieves all ProjectChanges for a portfolio.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_project_changes_for_portfolio_with_http_info(portfolio_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio id (required)
        :param ProjectChangeStatus status: Filter by status (PENDING, APPROVED, REJECTED). Returns all statuses when omitted.
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['portfolio_id', 'status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_project_changes_for_portfolio" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'portfolio_id' is set
        if ('portfolio_id' not in params or
                params['portfolio_id'] is None):
            raise ValueError("Missing the required parameter `portfolio_id` when calling `get_project_changes_for_portfolio`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'portfolio_id' in params:
            query_params.append(('portfolioId', params['portfolio_id']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals/projectChanges', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProjectChanges',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def move_project_change(self, body, id, project_change_id, **kwargs):  # noqa: E501
        """Moves a ProjectChange (and its project/field siblings) to a different approval workflow.  # noqa: E501

        Sends the given ProjectChange to targetApprovalId instead of approving/rejecting it. All PENDING changes for the same project and field are moved together. The originating rows are marked MOVED (tombstones linking to the target) and fresh PENDING copies are created under the target workflow. Returns the affected ProjectChanges for both the originating and target workflows.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.move_project_change(body, id, project_change_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MoveProjectChangeRequest body: The target approval workflow to move the change to. (required)
        :param str id: Originating approval id (required)
        :param str project_change_id: The ProjectChange being moved (required)
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.move_project_change_with_http_info(body, id, project_change_id, **kwargs)  # noqa: E501
        else:
            (data) = self.move_project_change_with_http_info(body, id, project_change_id, **kwargs)  # noqa: E501
            return data

    def move_project_change_with_http_info(self, body, id, project_change_id, **kwargs):  # noqa: E501
        """Moves a ProjectChange (and its project/field siblings) to a different approval workflow.  # noqa: E501

        Sends the given ProjectChange to targetApprovalId instead of approving/rejecting it. All PENDING changes for the same project and field are moved together. The originating rows are marked MOVED (tombstones linking to the target) and fresh PENDING copies are created under the target workflow. Returns the affected ProjectChanges for both the originating and target workflows.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.move_project_change_with_http_info(body, id, project_change_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MoveProjectChangeRequest body: The target approval workflow to move the change to. (required)
        :param str id: Originating approval id (required)
        :param str project_change_id: The ProjectChange being moved (required)
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id', 'project_change_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method move_project_change" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `move_project_change`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `move_project_change`")  # noqa: E501
        # verify the required parameter 'project_change_id' is set
        if ('project_change_id' not in params or
                params['project_change_id'] is None):
            raise ValueError("Missing the required parameter `project_change_id` when calling `move_project_change`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'project_change_id' in params:
            path_params['projectChangeId'] = params['project_change_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals/{id}/projectChanges/{projectChangeId}/move', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProjectChanges',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def move_project_changes(self, body, id, **kwargs):  # noqa: E501
        """Moves multiple ProjectChanges to a different approval workflow (\"Move all\").  # noqa: E501

        Bulk counterpart of moveProjectChange: sends the given PENDING ProjectChanges — the scope of a project- or workflow-level \"Move all\" — to targetApprovalId instead of approving/rejecting them. All PENDING changes for each affected project and field are moved together. The originating rows are marked MOVED (tombstones linking to the target) and fresh PENDING copies are created under the target workflow. Returns the affected ProjectChanges for both the originating and target workflows.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.move_project_changes(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MoveProjectChangesRequest body: The target approval workflow and the ProjectChanges to move. (required)
        :param str id: Originating approval id (required)
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.move_project_changes_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.move_project_changes_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def move_project_changes_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Moves multiple ProjectChanges to a different approval workflow (\"Move all\").  # noqa: E501

        Bulk counterpart of moveProjectChange: sends the given PENDING ProjectChanges — the scope of a project- or workflow-level \"Move all\" — to targetApprovalId instead of approving/rejecting them. All PENDING changes for each affected project and field are moved together. The originating rows are marked MOVED (tombstones linking to the target) and fresh PENDING copies are created under the target workflow. Returns the affected ProjectChanges for both the originating and target workflows.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.move_project_changes_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MoveProjectChangesRequest body: The target approval workflow and the ProjectChanges to move. (required)
        :param str id: Originating approval id (required)
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method move_project_changes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `move_project_changes`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `move_project_changes`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals/{id}/projectChanges/move', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProjectChanges',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_project_changes_for_approval(self, body, id, **kwargs):  # noqa: E501
        """Creates or updates ProjectChanges for an Approval.  # noqa: E501

        Accepts one Operation per affected ProjectChange id at \"/{id}/status\" to record an approve/reject decision, or at \"/{id}/fieldValues\" to merge new field values.  The value of a \"/{id}/status\" operation is EITHER the bare status string (\"APPROVED\" or \"REJECTED\"), OR a ProjectChangeStatusDecision object — { \"status\": \"APPROVED\", \"note\": \"optional free text\" } — when the approver attached a note. Both shapes are accepted; the bare string is the no-note form. Attach the note HERE rather than posting it afterwards: a note supplied with its decision reaches the activity's search document at index time, so it displays regardless of index timing, which a follow-up POST cannot guarantee for a bulk decision. A blank note is treated as no note. A note over 65,535 bytes fails the whole request before any change is decided.  Editing a note on an already-decided row still goes through POST .../activities/{noteEventId}/notes, using the `noteEventId` this response returns for the affected item — the same activity-notes endpoint the activity log's add/edit-note action uses, so both surfaces edit the identical row.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_project_changes_for_approval(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Operations body: JSON Patch Operations to update a ProjectChange. (required)
        :param str id: Approval id (required)
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patch_project_changes_for_approval_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_project_changes_for_approval_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def patch_project_changes_for_approval_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Creates or updates ProjectChanges for an Approval.  # noqa: E501

        Accepts one Operation per affected ProjectChange id at \"/{id}/status\" to record an approve/reject decision, or at \"/{id}/fieldValues\" to merge new field values.  The value of a \"/{id}/status\" operation is EITHER the bare status string (\"APPROVED\" or \"REJECTED\"), OR a ProjectChangeStatusDecision object — { \"status\": \"APPROVED\", \"note\": \"optional free text\" } — when the approver attached a note. Both shapes are accepted; the bare string is the no-note form. Attach the note HERE rather than posting it afterwards: a note supplied with its decision reaches the activity's search document at index time, so it displays regardless of index timing, which a follow-up POST cannot guarantee for a bulk decision. A blank note is treated as no note. A note over 65,535 bytes fails the whole request before any change is decided.  Editing a note on an already-decided row still goes through POST .../activities/{noteEventId}/notes, using the `noteEventId` this response returns for the affected item — the same activity-notes endpoint the activity log's add/edit-note action uses, so both surfaces edit the identical row.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_project_changes_for_approval_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Operations body: JSON Patch Operations to update a ProjectChange. (required)
        :param str id: Approval id (required)
        :return: ProjectChanges
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_project_changes_for_approval" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_project_changes_for_approval`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `patch_project_changes_for_approval`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals/{id}/projectChanges', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProjectChanges',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_approval(self, body, id, **kwargs):  # noqa: E501
        """Updates an Approval utilizing JSON Patch Operations.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_approval(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Operations body: JSON Patch Operations to update Approval. (required)
        :param str id: Approval id (required)
        :param bool do_not_notify: When opening an Approval (isOpen false to true), suppress the email notification to approvers. Defaults to notifying.
        :return: Approval
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_approval_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_approval_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def update_approval_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Updates an Approval utilizing JSON Patch Operations.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_approval_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Operations body: JSON Patch Operations to update Approval. (required)
        :param str id: Approval id (required)
        :param bool do_not_notify: When opening an Approval (isOpen false to true), suppress the email notification to approvers. Defaults to notifying.
        :return: Approval
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id', 'do_not_notify']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_approval" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_approval`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_approval`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'do_not_notify' in params:
            query_params.append(('doNotNotify', params['do_not_notify']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/approvals/{id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Approval',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
