# coding: utf-8

"""
    Decision Lens API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from dlxapi.api_client import ApiClient


class ChartsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def copy_charts(self, body, **kwargs):  # noqa: E501
        """Copy chart configurations to another source  # noqa: E501

        Duplicates every chart configuration belonging to a source (e.g. a portfolio) onto a target source, creating brand-new chart records with fresh ids and timestamps. Field references inside axes/filters are remapped using fieldIdMapping where a mapping exists; unmapped column ids (built-in columns or fields without a mapping) are left unchanged.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_charts(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyChartsRequest body: (required)
        :return: Charts
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_charts_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_charts_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def copy_charts_with_http_info(self, body, **kwargs):  # noqa: E501
        """Copy chart configurations to another source  # noqa: E501

        Duplicates every chart configuration belonging to a source (e.g. a portfolio) onto a target source, creating brand-new chart records with fresh ids and timestamps. Field references inside axes/filters are remapped using fieldIdMapping where a mapping exists; unmapped column ids (built-in columns or fields without a mapping) are left unchanged.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_charts_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyChartsRequest body: (required)
        :return: Charts
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_charts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `copy_charts`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts/copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Charts',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_chart(self, body, **kwargs):  # noqa: E501
        """Create chart configuration  # noqa: E501

        Creates a new saved chart configuration  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_chart(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Chart body: (required)
        :return: Chart
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_chart_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_chart_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_chart_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create chart configuration  # noqa: E501

        Creates a new saved chart configuration  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_chart_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Chart body: (required)
        :return: Chart
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_chart" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_chart`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Chart',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_chart(self, id, **kwargs):  # noqa: E501
        """Delete chart configuration  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_chart(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_chart_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_chart_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_chart_with_http_info(self, id, **kwargs):  # noqa: E501
        """Delete chart configuration  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_chart_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_chart" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_chart`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_snapshot_charts(self, snapshot_id, **kwargs):  # noqa: E501
        """Delete the captured charts for a portfolio snapshot  # noqa: E501

        Removes every chart configuration captured for the given snapshot (sourceType SNAPSHOT, sourceId = snapshotId). Called by portfolio-service when a snapshot is deleted, evicted, or discarded during restore so no orphaned snapshot charts remain.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_snapshot_charts(snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str snapshot_id: Id of the snapshot whose captured charts should be removed (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_snapshot_charts_with_http_info(snapshot_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_snapshot_charts_with_http_info(snapshot_id, **kwargs)  # noqa: E501
            return data

    def delete_snapshot_charts_with_http_info(self, snapshot_id, **kwargs):  # noqa: E501
        """Delete the captured charts for a portfolio snapshot  # noqa: E501

        Removes every chart configuration captured for the given snapshot (sourceType SNAPSHOT, sourceId = snapshotId). Called by portfolio-service when a snapshot is deleted, evicted, or discarded during restore so no orphaned snapshot charts remain.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_snapshot_charts_with_http_info(snapshot_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str snapshot_id: Id of the snapshot whose captured charts should be removed (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['snapshot_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_snapshot_charts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'snapshot_id' is set
        if ('snapshot_id' not in params or
                params['snapshot_id'] is None):
            raise ValueError("Missing the required parameter `snapshot_id` when calling `delete_snapshot_charts`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'snapshot_id' in params:
            path_params['snapshotId'] = params['snapshot_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts/snapshot/{snapshotId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_chart(self, id, **kwargs):  # noqa: E501
        """Get chart configuration by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_chart(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: Chart
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_chart_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_chart_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_chart_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get chart configuration by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_chart_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: Chart
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_chart" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_chart`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Chart',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_chart_data(self, id, **kwargs):  # noqa: E501
        """Get computed chart data  # noqa: E501

        Returns computed chart data for a saved chart config, with runtime params (e.g. planId)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_chart_data(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str plan_id:
        :return: ChartData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_chart_data_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_chart_data_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_chart_data_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get computed chart data  # noqa: E501

        Returns computed chart data for a saved chart config, with runtime params (e.g. planId)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_chart_data_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param str plan_id:
        :return: ChartData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'plan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_chart_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_chart_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'plan_id' in params:
            query_params.append(('planId', params['plan_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts/{id}/data', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ChartData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_chart_data_for_config(self, body, **kwargs):  # noqa: E501
        """Get computed chart data from a chart config supplied in the request body  # noqa: E501

        Returns computed chart data for an unsaved chart config sent in the request body, with runtime params (e.g. planId) supplied as query parameters. Mirrors GET /charts/{id}/data but does not require the chart to be persisted.  This endpoint additionally accepts a MEASURE-ONLY config — `axes.y` with no `axes.x` — and answers it with a single-point series carrying one aggregate over the whole source (`series[0].data[0]`), which is what a dashboard's Numeric Tile element displays. `axes.x` remains required in the AxesConfig schema because every SAVED chart has a dimension; only this endpoint relaxes it, and an `axes.x` that is present without a `columnId` is still a 400.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_chart_data_for_config(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Chart body: (required)
        :param str plan_id:
        :return: ChartData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_chart_data_for_config_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.get_chart_data_for_config_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def get_chart_data_for_config_with_http_info(self, body, **kwargs):  # noqa: E501
        """Get computed chart data from a chart config supplied in the request body  # noqa: E501

        Returns computed chart data for an unsaved chart config sent in the request body, with runtime params (e.g. planId) supplied as query parameters. Mirrors GET /charts/{id}/data but does not require the chart to be persisted.  This endpoint additionally accepts a MEASURE-ONLY config — `axes.y` with no `axes.x` — and answers it with a single-point series carrying one aggregate over the whole source (`series[0].data[0]`), which is what a dashboard's Numeric Tile element displays. `axes.x` remains required in the AxesConfig schema because every SAVED chart has a dimension; only this endpoint relaxes it, and an `axes.x` that is present without a `columnId` is still a 400.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_chart_data_for_config_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Chart body: (required)
        :param str plan_id:
        :return: ChartData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'plan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_chart_data_for_config" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `get_chart_data_for_config`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'plan_id' in params:
            query_params.append(('planId', params['plan_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts/data', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ChartData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_chart_source_structure(self, type, id, **kwargs):  # noqa: E501
        """Get data source structure  # noqa: E501

        Returns the available tables and columns for a given data source. Supported source types (see ChartSourceType): PORTFOLIO / SNAPSHOT (id = portfolioId / snapshotId) and TABLE (id = DataHub tableName). Matched case-insensitively.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_chart_source_structure(type, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str type: (required)
        :param str id: (required)
        :return: list[ChartDataSchema]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_chart_source_structure_with_http_info(type, id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_chart_source_structure_with_http_info(type, id, **kwargs)  # noqa: E501
            return data

    def get_chart_source_structure_with_http_info(self, type, id, **kwargs):  # noqa: E501
        """Get data source structure  # noqa: E501

        Returns the available tables and columns for a given data source. Supported source types (see ChartSourceType): PORTFOLIO / SNAPSHOT (id = portfolioId / snapshotId) and TABLE (id = DataHub tableName). Matched case-insensitively.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_chart_source_structure_with_http_info(type, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str type: (required)
        :param str id: (required)
        :return: list[ChartDataSchema]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['type', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_chart_source_structure" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `get_chart_source_structure`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_chart_source_structure`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'type' in params:
            path_params['type'] = params['type']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts/sources/{type}/{id}/structure', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ChartDataSchema]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_charts(self, **kwargs):  # noqa: E501
        """List chart configurations  # noqa: E501

        Returns all saved chart configurations, optionally filtered by source and by chart type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_charts(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str source_type:
        :param str source_id:
        :param list[str] chart_type: Restrict the listing to these types (repeat the parameter, or pass one comma-separated value). Matched case-insensitively against `chartType`, so the values are `ChartType` and `ElementType` members alike. Omitted returns every type. A surface that can only render plotted charts asks for the plotted types, so a NUMERIC_TILE record — a custom element with no dimension to draw — is never offered to it (DL4-35019).
        :return: Charts
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_charts_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_charts_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_charts_with_http_info(self, **kwargs):  # noqa: E501
        """List chart configurations  # noqa: E501

        Returns all saved chart configurations, optionally filtered by source and by chart type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_charts_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str source_type:
        :param str source_id:
        :param list[str] chart_type: Restrict the listing to these types (repeat the parameter, or pass one comma-separated value). Matched case-insensitively against `chartType`, so the values are `ChartType` and `ElementType` members alike. Omitted returns every type. A surface that can only render plotted charts asks for the plotted types, so a NUMERIC_TILE record — a custom element with no dimension to draw — is never offered to it (DL4-35019).
        :return: Charts
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['source_type', 'source_id', 'chart_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_charts" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'source_type' in params:
            query_params.append(('sourceType', params['source_type']))  # noqa: E501
        if 'source_id' in params:
            query_params.append(('sourceId', params['source_id']))  # noqa: E501
        if 'chart_type' in params:
            query_params.append(('chartType', params['chart_type']))  # noqa: E501
            collection_formats['chartType'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Charts',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_chart(self, body, id, **kwargs):  # noqa: E501
        """Updates a chart configuration utilizing JSON Patch Operations.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_chart(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Operations body: JSON Patch Operations to update the chart configuration. (required)
        :param str id: (required)
        :return: Chart
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_chart_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_chart_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def update_chart_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Updates a chart configuration utilizing JSON Patch Operations.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_chart_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Operations body: JSON Patch Operations to update the chart configuration. (required)
        :param str id: (required)
        :return: Chart
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_chart" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_chart`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_chart`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/charts/{id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Chart',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
