# coding: utf-8

"""
    Decision Lens API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AgentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def criteria_agent(self, body, **kwargs):  # noqa: E501
        """Criteria Agent  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.criteria_agent(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CriteriaAgentRequest body: (required)
        :return: AgentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.criteria_agent_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.criteria_agent_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def criteria_agent_with_http_info(self, body, **kwargs):  # noqa: E501
        """Criteria Agent  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.criteria_agent_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CriteriaAgentRequest body: (required)
        :return: AgentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method criteria_agent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `criteria_agent`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/agents/criteria', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AgentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_agent_messages(self, thread_id, **kwargs):  # noqa: E501
        """Get agent messages for the thread id (example prioritizationId)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_messages(thread_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str thread_id: (required)
        :return: AgentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_agent_messages_with_http_info(thread_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_agent_messages_with_http_info(thread_id, **kwargs)  # noqa: E501
            return data

    def get_agent_messages_with_http_info(self, thread_id, **kwargs):  # noqa: E501
        """Get agent messages for the thread id (example prioritizationId)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_messages_with_http_info(thread_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str thread_id: (required)
        :return: AgentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['thread_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_agent_messages" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'thread_id' is set
        if ('thread_id' not in params or
                params['thread_id'] is None):
            raise ValueError("Missing the required parameter `thread_id` when calling `get_agent_messages`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'thread_id' in params:
            query_params.append(('threadId', params['thread_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/agents/messages', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AgentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def stream_criteria_agent(self, body, **kwargs):  # noqa: E501
        """Criteria Agent (Streaming)  # noqa: E501

        Streams the final LLM response using Server-Sent Events (SSE).  Each SSE `data:` line contains a JSON-encoded `AgentStreamEvent` with these type values: - `ASSISTANT` — streamed text chunks as the LLM generates (`content` field) - `SYSTEM` — system events: CRITERIA_FRAMEWORK_SAVED or DONE to signal end of stream (`message` field) - `SUGGESTION` — one per suggestion, sent after stream completes (`message` field) - `ERROR` — if an error occurs mid-stream (`message` field)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.stream_criteria_agent(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CriteriaAgentRequest body: (required)
        :return: AgentMessage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.stream_criteria_agent_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.stream_criteria_agent_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def stream_criteria_agent_with_http_info(self, body, **kwargs):  # noqa: E501
        """Criteria Agent (Streaming)  # noqa: E501

        Streams the final LLM response using Server-Sent Events (SSE).  Each SSE `data:` line contains a JSON-encoded `AgentStreamEvent` with these type values: - `ASSISTANT` — streamed text chunks as the LLM generates (`content` field) - `SYSTEM` — system events: CRITERIA_FRAMEWORK_SAVED or DONE to signal end of stream (`message` field) - `SUGGESTION` — one per suggestion, sent after stream completes (`message` field) - `ERROR` — if an error occurs mid-stream (`message` field)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.stream_criteria_agent_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CriteriaAgentRequest body: (required)
        :return: AgentMessage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method stream_criteria_agent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `stream_criteria_agent`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/event-stream', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/agents/stream/criteria', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AgentMessage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
