# coding: utf-8

"""
    Decision Lens API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BudgetsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_budget(self, id, **kwargs):  # noqa: E501
        """Retrieves a budget.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budget(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Budget id (required)
        :param str portfolio_plan_id: Portfolio Plan id
        :return: Budget
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_budget_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_budget_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_budget_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves a budget.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budget_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Budget id (required)
        :param str portfolio_plan_id: Portfolio Plan id
        :return: Budget
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'portfolio_plan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_budget" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_budget`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'portfolio_plan_id' in params:
            query_params.append(('portfolioPlanId', params['portfolio_plan_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/budgets/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Budget',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_budgets_for_portfolio_plan(self, portfolio_plan_id, **kwargs):  # noqa: E501
        """Fetch budgets for portfolio plan  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budgets_for_portfolio_plan(portfolio_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_plan_id: Portfolio Plan id (required)
        :param bool plan_overrides_only: Returns only plan overrides. default is false.
        :param str expand: JSON string containing an array expand specifications for fields.  An expand specification must have a path and includes optional properties match, unique, allPossible, limit, offset, orderBy.
        :param int limit: Pagination limit
        :param int offset: Pagination offset
        :param str order_by: Comma delimited list of order by expressions. Use '-' in front of expression for reverse order.
        :param str match: Semi-colon delimited list of expressions to include in the response only the items in a collections that satisfy the expression(s). All other items should be exluded.
        :return: Budgets
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_budgets_for_portfolio_plan_with_http_info(portfolio_plan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_budgets_for_portfolio_plan_with_http_info(portfolio_plan_id, **kwargs)  # noqa: E501
            return data

    def get_budgets_for_portfolio_plan_with_http_info(self, portfolio_plan_id, **kwargs):  # noqa: E501
        """Fetch budgets for portfolio plan  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budgets_for_portfolio_plan_with_http_info(portfolio_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_plan_id: Portfolio Plan id (required)
        :param bool plan_overrides_only: Returns only plan overrides. default is false.
        :param str expand: JSON string containing an array expand specifications for fields.  An expand specification must have a path and includes optional properties match, unique, allPossible, limit, offset, orderBy.
        :param int limit: Pagination limit
        :param int offset: Pagination offset
        :param str order_by: Comma delimited list of order by expressions. Use '-' in front of expression for reverse order.
        :param str match: Semi-colon delimited list of expressions to include in the response only the items in a collections that satisfy the expression(s). All other items should be exluded.
        :return: Budgets
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['portfolio_plan_id', 'plan_overrides_only', 'expand', 'limit', 'offset', 'order_by', 'match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_budgets_for_portfolio_plan" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'portfolio_plan_id' is set
        if ('portfolio_plan_id' not in params or
                params['portfolio_plan_id'] is None):
            raise ValueError("Missing the required parameter `portfolio_plan_id` when calling `get_budgets_for_portfolio_plan`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'portfolio_plan_id' in params:
            query_params.append(('portfolioPlanId', params['portfolio_plan_id']))  # noqa: E501
        if 'plan_overrides_only' in params:
            query_params.append(('planOverridesOnly', params['plan_overrides_only']))  # noqa: E501
        if 'expand' in params:
            query_params.append(('expand', params['expand']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'match' in params:
            query_params.append(('match', params['match']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/budgets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Budgets',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_budgets_for_portfolio_plan_and_recommendations(self, body, portfolio_plan_id, **kwargs):  # noqa: E501
        """Get budgets for portfolio plan with recommendations  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budgets_for_portfolio_plan_and_recommendations(body, portfolio_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Recommendation] body: JSON Recommendation Objects to apply to a portfolio plan. (required)
        :param str portfolio_plan_id: portfolio plan id (required)
        :return: Budgets
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_budgets_for_portfolio_plan_and_recommendations_with_http_info(body, portfolio_plan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_budgets_for_portfolio_plan_and_recommendations_with_http_info(body, portfolio_plan_id, **kwargs)  # noqa: E501
            return data

    def get_budgets_for_portfolio_plan_and_recommendations_with_http_info(self, body, portfolio_plan_id, **kwargs):  # noqa: E501
        """Get budgets for portfolio plan with recommendations  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_budgets_for_portfolio_plan_and_recommendations_with_http_info(body, portfolio_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Recommendation] body: JSON Recommendation Objects to apply to a portfolio plan. (required)
        :param str portfolio_plan_id: portfolio plan id (required)
        :return: Budgets
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'portfolio_plan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_budgets_for_portfolio_plan_and_recommendations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `get_budgets_for_portfolio_plan_and_recommendations`")  # noqa: E501
        # verify the required parameter 'portfolio_plan_id' is set
        if ('portfolio_plan_id' not in params or
                params['portfolio_plan_id'] is None):
            raise ValueError("Missing the required parameter `portfolio_plan_id` when calling `get_budgets_for_portfolio_plan_and_recommendations`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'portfolio_plan_id' in params:
            query_params.append(('portfolioPlanId', params['portfolio_plan_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/budgets/recommendations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Budgets',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_budget_amounts_for_portfolio_plan(self, body, portfolio_plan_id, **kwargs):  # noqa: E501
        """Update budget amounts in a portfolio plan  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_budget_amounts_for_portfolio_plan(body, portfolio_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[BudgetAmountPatchItem] body: JSON Patch Operations to update multiple budget amounts (required)
        :param str portfolio_plan_id: Portfolio Plan id (required)
        :return: list[Budget]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_budget_amounts_for_portfolio_plan_with_http_info(body, portfolio_plan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_budget_amounts_for_portfolio_plan_with_http_info(body, portfolio_plan_id, **kwargs)  # noqa: E501
            return data

    def update_budget_amounts_for_portfolio_plan_with_http_info(self, body, portfolio_plan_id, **kwargs):  # noqa: E501
        """Update budget amounts in a portfolio plan  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_budget_amounts_for_portfolio_plan_with_http_info(body, portfolio_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[BudgetAmountPatchItem] body: JSON Patch Operations to update multiple budget amounts (required)
        :param str portfolio_plan_id: Portfolio Plan id (required)
        :return: list[Budget]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'portfolio_plan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_budget_amounts_for_portfolio_plan" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_budget_amounts_for_portfolio_plan`")  # noqa: E501
        # verify the required parameter 'portfolio_plan_id' is set
        if ('portfolio_plan_id' not in params or
                params['portfolio_plan_id'] is None):
            raise ValueError("Missing the required parameter `portfolio_plan_id` when calling `update_budget_amounts_for_portfolio_plan`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'portfolio_plan_id' in params:
            query_params.append(('portfolioPlanId', params['portfolio_plan_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/budgets', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Budget]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
