# coding: utf-8

"""
    Decision Lens API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PortfolioRelationshipMappingsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_portfolio_relationship_mapping(self, body, **kwargs):  # noqa: E501
        """Creates a new hub-spoke portfolio relationship mapping  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_portfolio_relationship_mapping(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreatePortfolioRelationshipMapping body: Portfolio relationship mapping to create using hub-spoke model (one hub portfolio to multiple spoke portfolios) (required)
        :return: PortfolioRelationshipMapping
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_portfolio_relationship_mapping_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_portfolio_relationship_mapping_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_portfolio_relationship_mapping_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new hub-spoke portfolio relationship mapping  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_portfolio_relationship_mapping_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreatePortfolioRelationshipMapping body: Portfolio relationship mapping to create using hub-spoke model (one hub portfolio to multiple spoke portfolios) (required)
        :return: PortfolioRelationshipMapping
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_portfolio_relationship_mapping" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_portfolio_relationship_mapping`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/datahub/portfolio-relationship-mappings', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PortfolioRelationshipMapping',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_portfolio_relationship_mapping(self, portfolio_id, id, **kwargs):  # noqa: E501
        """Delete portfolio relationship mapping  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_portfolio_relationship_mapping(portfolio_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio ID whose relationship mappings should be returned (required)
        :param str id: ID of the portfolio relationship mapping to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_portfolio_relationship_mapping_with_http_info(portfolio_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_portfolio_relationship_mapping_with_http_info(portfolio_id, id, **kwargs)  # noqa: E501
            return data

    def delete_portfolio_relationship_mapping_with_http_info(self, portfolio_id, id, **kwargs):  # noqa: E501
        """Delete portfolio relationship mapping  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_portfolio_relationship_mapping_with_http_info(portfolio_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio ID whose relationship mappings should be returned (required)
        :param str id: ID of the portfolio relationship mapping to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['portfolio_id', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_portfolio_relationship_mapping" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'portfolio_id' is set
        if ('portfolio_id' not in params or
                params['portfolio_id'] is None):
            raise ValueError("Missing the required parameter `portfolio_id` when calling `delete_portfolio_relationship_mapping`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_portfolio_relationship_mapping`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'portfolio_id' in params:
            path_params['portfolioId'] = params['portfolio_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/datahub/portfolio-relationship-mappings/portfolio/{portfolioId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_mappings(self, **kwargs):  # noqa: E501
        """Retrieves all hub-spoke portfolio relationship mappings  # noqa: E501

        Gets all portfolio relationship mappings in the system (hub-spoke model) without requiring any query parameters or filters  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_mappings(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[PortfolioRelationshipMapping]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_mappings_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_all_mappings_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_all_mappings_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves all hub-spoke portfolio relationship mappings  # noqa: E501

        Gets all portfolio relationship mappings in the system (hub-spoke model) without requiring any query parameters or filters  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_mappings_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[PortfolioRelationshipMapping]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_mappings" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/datahub/portfolio-relationship-mappings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[PortfolioRelationshipMapping]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_available_mapping_fields(self, portfolio_id, **kwargs):  # noqa: E501
        """Get available mapping fields for a portfolio  # noqa: E501

        Returns a list of fields that can be used for mapping between portfolios  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_available_mapping_fields(portfolio_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio ID to analyze for available mapping fields (required)
        :return: PortfolioMappingFieldsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_available_mapping_fields_with_http_info(portfolio_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_available_mapping_fields_with_http_info(portfolio_id, **kwargs)  # noqa: E501
            return data

    def get_available_mapping_fields_with_http_info(self, portfolio_id, **kwargs):  # noqa: E501
        """Get available mapping fields for a portfolio  # noqa: E501

        Returns a list of fields that can be used for mapping between portfolios  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_available_mapping_fields_with_http_info(portfolio_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio ID to analyze for available mapping fields (required)
        :return: PortfolioMappingFieldsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['portfolio_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_available_mapping_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'portfolio_id' is set
        if ('portfolio_id' not in params or
                params['portfolio_id'] is None):
            raise ValueError("Missing the required parameter `portfolio_id` when calling `get_available_mapping_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'portfolio_id' in params:
            path_params['portfolioId'] = params['portfolio_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/datahub/portfolio-relationship-mappings/available-mapping-fields/{portfolioId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PortfolioMappingFieldsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_mapped_categories(self, hub_portfolio_id, spoke_portfolio_ids, **kwargs):  # noqa: E501
        """Get mapped CATEGORY fields across hub and spoke portfolios  # noqa: E501

        Returns CATEGORY fields and category options that exist across the hub portfolio and the specified spoke portfolios  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mapped_categories(hub_portfolio_id, spoke_portfolio_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str hub_portfolio_id: Hub portfolio ID (required)
        :param str spoke_portfolio_ids: Comma separated list of spoke portfolio IDs (required)
        :return: MappedCategoriesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_mapped_categories_with_http_info(hub_portfolio_id, spoke_portfolio_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.get_mapped_categories_with_http_info(hub_portfolio_id, spoke_portfolio_ids, **kwargs)  # noqa: E501
            return data

    def get_mapped_categories_with_http_info(self, hub_portfolio_id, spoke_portfolio_ids, **kwargs):  # noqa: E501
        """Get mapped CATEGORY fields across hub and spoke portfolios  # noqa: E501

        Returns CATEGORY fields and category options that exist across the hub portfolio and the specified spoke portfolios  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mapped_categories_with_http_info(hub_portfolio_id, spoke_portfolio_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str hub_portfolio_id: Hub portfolio ID (required)
        :param str spoke_portfolio_ids: Comma separated list of spoke portfolio IDs (required)
        :return: MappedCategoriesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['hub_portfolio_id', 'spoke_portfolio_ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mapped_categories" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'hub_portfolio_id' is set
        if ('hub_portfolio_id' not in params or
                params['hub_portfolio_id'] is None):
            raise ValueError("Missing the required parameter `hub_portfolio_id` when calling `get_mapped_categories`")  # noqa: E501
        # verify the required parameter 'spoke_portfolio_ids' is set
        if ('spoke_portfolio_ids' not in params or
                params['spoke_portfolio_ids'] is None):
            raise ValueError("Missing the required parameter `spoke_portfolio_ids` when calling `get_mapped_categories`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'hub_portfolio_id' in params:
            path_params['hubPortfolioId'] = params['hub_portfolio_id']  # noqa: E501

        query_params = []
        if 'spoke_portfolio_ids' in params:
            query_params.append(('spokePortfolioIds', params['spoke_portfolio_ids']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/datahub/portfolio-relationship-mappings/{hubPortfolioId}/mapped-categories', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MappedCategoriesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_portfolio_relationship_mapping_by_id(self, id, **kwargs):  # noqa: E501
        """Get portfolio relationship mapping by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_portfolio_relationship_mapping_by_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID of the portfolio relationship mapping (required)
        :return: PortfolioRelationshipMapping
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_portfolio_relationship_mapping_by_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_portfolio_relationship_mapping_by_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_portfolio_relationship_mapping_by_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get portfolio relationship mapping by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_portfolio_relationship_mapping_by_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID of the portfolio relationship mapping (required)
        :return: PortfolioRelationshipMapping
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_portfolio_relationship_mapping_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_portfolio_relationship_mapping_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/datahub/portfolio-relationship-mappings/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PortfolioRelationshipMapping',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_portfolio_relationship_mappings_by_portfolio(self, portfolio_id, **kwargs):  # noqa: E501
        """Get portfolio relationship mappings by portfolio ID  # noqa: E501

        Returns all portfolio relationship mappings connected to the specified portfolio, regardless of whether it is the hub or a spoke.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_portfolio_relationship_mappings_by_portfolio(portfolio_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio ID whose relationship mappings should be returned (required)
        :return: list[PortfolioRelationshipMapping]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_portfolio_relationship_mappings_by_portfolio_with_http_info(portfolio_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_portfolio_relationship_mappings_by_portfolio_with_http_info(portfolio_id, **kwargs)  # noqa: E501
            return data

    def get_portfolio_relationship_mappings_by_portfolio_with_http_info(self, portfolio_id, **kwargs):  # noqa: E501
        """Get portfolio relationship mappings by portfolio ID  # noqa: E501

        Returns all portfolio relationship mappings connected to the specified portfolio, regardless of whether it is the hub or a spoke.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_portfolio_relationship_mappings_by_portfolio_with_http_info(portfolio_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str portfolio_id: Portfolio ID whose relationship mappings should be returned (required)
        :return: list[PortfolioRelationshipMapping]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['portfolio_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_portfolio_relationship_mappings_by_portfolio" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'portfolio_id' is set
        if ('portfolio_id' not in params or
                params['portfolio_id'] is None):
            raise ValueError("Missing the required parameter `portfolio_id` when calling `get_portfolio_relationship_mappings_by_portfolio`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'portfolio_id' in params:
            path_params['portfolioId'] = params['portfolio_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/datahub/portfolio-relationship-mappings/portfolio/{portfolioId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[PortfolioRelationshipMapping]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_portfolio_relationship_mapping(self, body, id, **kwargs):  # noqa: E501
        """Updates an existing hub-spoke portfolio relationship mapping  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_portfolio_relationship_mapping(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdatePortfolioRelationshipMapping body: Updated portfolio relationship mapping data using hub-spoke model (required)
        :param str id: Portfolio relationship mapping ID (required)
        :return: PortfolioRelationshipMapping
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_portfolio_relationship_mapping_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_portfolio_relationship_mapping_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def update_portfolio_relationship_mapping_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Updates an existing hub-spoke portfolio relationship mapping  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_portfolio_relationship_mapping_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdatePortfolioRelationshipMapping body: Updated portfolio relationship mapping data using hub-spoke model (required)
        :param str id: Portfolio relationship mapping ID (required)
        :return: PortfolioRelationshipMapping
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_portfolio_relationship_mapping" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_portfolio_relationship_mapping`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_portfolio_relationship_mapping`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/datahub/portfolio-relationship-mappings/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PortfolioRelationshipMapping',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_portfolio_relationship_mapping_with_operations(self, body, id, **kwargs):  # noqa: E501
        """Update portfolio relationship mapping with operations  # noqa: E501

        Updates a portfolio relationship mapping by applying a list of operations.  Supported operations: - ADD: Add a new value to an array or object - REMOVE: Remove a value from an array or object - REPLACE: Replace a value in an array or object  The operations follow the JSON Patch (RFC 6902) specification.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_portfolio_relationship_mapping_with_operations(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[PortfolioRelationshipMappingOperation] body: List of operations to perform on the portfolio relationship mapping (required)
        :param str id: ID of the portfolio relationship mapping to update (required)
        :return: PortfolioRelationshipMapping
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_portfolio_relationship_mapping_with_operations_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_portfolio_relationship_mapping_with_operations_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def update_portfolio_relationship_mapping_with_operations_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Update portfolio relationship mapping with operations  # noqa: E501

        Updates a portfolio relationship mapping by applying a list of operations.  Supported operations: - ADD: Add a new value to an array or object - REMOVE: Remove a value from an array or object - REPLACE: Replace a value in an array or object  The operations follow the JSON Patch (RFC 6902) specification.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_portfolio_relationship_mapping_with_operations_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[PortfolioRelationshipMappingOperation] body: List of operations to perform on the portfolio relationship mapping (required)
        :param str id: ID of the portfolio relationship mapping to update (required)
        :return: PortfolioRelationshipMapping
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_portfolio_relationship_mapping_with_operations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_portfolio_relationship_mapping_with_operations`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_portfolio_relationship_mapping_with_operations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/datahub/portfolio-relationship-mappings/{id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PortfolioRelationshipMapping',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
